<!-- <input type="text" matInput
    ngxDaterangepickerMd
    [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
    startKey="start"
    endKey="end"
    [(ngModel)]="selected"
    name="daterange"/> -->
    <!-- <input type="text" ngxDaterangepickerMd startKey="start" endKey="end" [ranges]="ranges" [(ngModel)]="model"> -->
    <!-- <input type="text" ngxDaterangepickerMd startKey="start" endKey="end" [ranges]="ranges" [showCustomRangeLabel]="true" [(ngModel)]="model"> -->
    <!-- {{title}}
    <div></div> -->
    
        <!-- <label for="user">User</label><br>
        <input type="text" placeholder="user" [(ngModel)]="value1"><br>
        <label for="password">Password</label><br>
        <input type="text" placeholder="password"  [(ngModel)]="value2"><br>
        <button (click)="myFun()">Submit</button> -->
    <!-- <h1>Reactive Form</h1>    
    <form [formGroup]="loginForm" (click)="fun()">
        <input type="text" placeholder="user" formControlName="user">
        <input type="password" placeholder="password" formControlName="password">
        <button>Click</button>

    </form> -->
    <!-- <h1>table</h1>
    <table class="table1" style="border: 1px solid blue; text-align: center;"><tr>
        <td class="first1">FirstName</td>
        <td>lastName</td>
      <td>emailid</td>
    </tr>
    <tr *ngFor="let data of array"  *ngIf="variable">
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.email}}</td>
    </tr>
        
    </table>  -->
    <!-- <h1> Attribute Directives</h1>
    <div [ngStyle]="{'color':'blue'}" >This is working times</div>
    <h2>Structure Directives</h2>
    <!-- <div *ngIf="false">This is Shivani here</div> -->
    <!-- <h2 *ngIf="false">Shivani</h2> -->
    
    <!-- <h2 *ngIf="displayName">Shivani</h2> -->
   <!-- <div [ngStyle]="{'color':'red'}">today is working day</div>
 <div [(size)]="fontsize">this is our new application</div> -->
 <!-- <input type="text" placeholder="user" ([ngModel])="value1">
 <input type="password" placeholder="password" ([ngModel])="value2">
 <h1>{{value1}}</h1>
 <h1>{{value2}}</h1>
 <button (click)="myFun()">Submit</button> -->
 <!-- <input type="text" [(ngModel)] ="name" >{{name}} -->
 <h1></h1>
 <a routerLink="meals">Meals</a>
 
 <router-outlet></router-outlet>
